a {
  text-decoration: none;
  color: #A1B57D;
  &:hover {
    cursor: pointer;
  }
}

.buttons {
  height: 10rem;
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.button {
  font-family: "WorkSans";
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  border:none;
  border-radius: 1.5rem;
  height: 1rem;
  height: 1rem;
  &:hover {
    cursor: pointer;
  }
  &__play {
    background-color: #F9D949;
    color: #F45050;
    
    &:hover {
      background-color: #F45050;
      color: #F9D949;
    }
  }
  &__new-sudoku {
    background-color: #A1B57D;
    color: aliceblue;
    &:hover {
      background-color: #F45050;
      color: #F9D949;
    }
  }
  &__reset {
    background-color: #B33030;
    color: aliceblue;
    width: 6rem;
    &:hover {
      background-color: #F45050;
      color: #F9D949;
    }
  }
  &__solve {
    background-color: #19282F;
    color: aliceblue;
    
    &:hover {
      background-color: #F45050;
      color: #F9D949;
    }
  }
  &__back-algo {
    background-color: #B04759;
    color: #EB6440;
    &:hover {
      background-color: #F45050;
      color: #F9D949;
    }
  }
}