a {
  text-decoration: none;
}
.back-algo-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: "WorkSans";
  font-weight: bold;
  font-size: 3rem;
  width: 60vw;
  max-width: 50rem;
  height: 60vh;
  background-color: #2EB086;
  border-radius: 1rem;
  margin-top: 11rem;
  &__board {
    display: flex;
    justify-content: center;
    margin: 3rem;
    width: 42vw;
    max-width: 40rem;
    height: 40vh;
    background-color: #2EB086;
  }  
}

.node {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #497174;
  color: #F45050;
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  &--empty {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F2FFE9;
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    border: none;
  }
  &--input {
    display: flex;
    border: none;
    justify-content: center;
    margin: 0;
    padding: 0.3rem 0.2rem 0.3rem 0.4rem;
    font-family: "WorkSans";
    font-weight: bold;
    background-color:#F2FFE9;
    height: 2.4rem;
    width: 2.4rem;
    font-size: 3rem;
    border: none;
    color: #393E46;
    cursor: pointer;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    
  }
}

.node--error {
  animation: blink-red 2s linear forwards;
  text-decoration: underline red;
}

@keyframes blink-red {
  0% {
    background-color: red;
  }
  50% {
    background-color: #F2FFE9;
  }
  75% {
    background-color: red;
  }
  100% {
    background-color: #F2FFE9;
    
  }
  
}

.node--correct {
  animation: blink-green 2s linear forwards;
  color: #17594A;
}

@keyframes blink-green {
  0% {
    background-color: green;
  }
  50% {
    background-color: #F2FFE9;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: #F2FFE9;
    
  }
  
}

