
.presentation__sudoku {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  
  width: 20rem;
  height: auto;
  &__image {
    height: 100%;
    width: 100%;
    border: .2rem solid #CBB279;
    border-radius: 2rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.04);
      border: .2rem solid #F45050;
      cursor: pointer;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    align-items: center;
    color: #41644A;
    background-color: #B46060;
    border: .2rem solid #CBB279;
    border-radius: 2rem;
    margin: 1rem 0;
    width: 20rem;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      border: .2rem solid #B46060;
      color: #F9D949;
    }
    &--link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #245953;
      font-weight: bold;
      font-size: 1rem;
      width: 20rem;
      height: 3rem;
      &:hover {
        cursor: pointer;
        color: #F9D949;
      }
      // &:hover {
      //   color: #F45050;
      // }
    }
  }
}

.presentation__back-algo {
  width: 20rem;
  height: 21rem;
  &__image {
    height: 100%;
    width: 97%;
    border: .2rem solid #CBB279;
    border-radius: 2rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.04);
      border: .2rem solid #F45050;
      cursor: pointer;
    }
  }
}

.presentation__my-page {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 26rem;
  &__image {
    width: 30%;
    height: 22%;
    margin-bottom: .9rem;
    border: .2rem solid #CBB279;
    border-radius: 2rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.04);
      border: .2rem solid #F45050;
      cursor: pointer;
    }
  }
}