.header__title--container {
  cursor: pointer;
}

.active {
  &--s {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #F2FFE9;
    border: none;
    border-radius: 2rem;
    background-color: #1A5F7A;
    margin: 1rem 1rem 0 0;
    padding: .5rem 1rem;
    width: 12rem;
    height: 2rem;
    background-color: #2EB086;
    border: 1px solid #F2FFE9;
  }
  &--b {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #F2FFE9;
    border: none;
    border-radius: 2rem;
    background-color: #1A5F7A;
    margin: 1rem 1rem 0 0;
    padding: .5rem 1rem;
    width: 12rem;
    height: 2rem;
    background-color: #2EB086;
    border: 1px solid #F2FFE9;
  }
  &--p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #F2FFE9;
    border: none;
    border-radius: 2rem;
    background-color: #1A5F7A;
    margin: 1rem 1rem 0 0;
    padding: .5rem 1rem;
    width: 12rem;
    height: 2rem;
    background-color: #2EB086;
    border: 1px solid #F2FFE9;
  }
 
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "WorkSans";
  font-weight: bold;
  font-size: 2.5rem;
  color: #F2FFE9;
  margin: 0;
  margin-top: 2rem;
  width: 15rem;
  height: 5rem;
}
span {
  font-size: 2rem;
  color: #F24C3D;
}

.button__presentation--container {
  display: flex;
  justify-content: flex-end;
  width: 52rem;
}

.button__ps {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #F2FFE9;
  border: none;
  border-radius: 2rem;
  border: 1px solid #2EB086;
  background-color: #1A5F7A;
  margin: 1rem 1rem 0 0;
  padding: .5rem 1rem;
  width: 12rem;
  height: 2rem;
  &:hover {
    color: #F2FFE9;
    background-color: #2EB086;
    cursor: pointer;
    border: 1px solid #F2FFE9;
  }
}  

.button__sg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #F2FFE9;
  border: none;
  border-radius: 2rem;
  border: 1px solid #2EB086;
  background-color: #1A5F7A;
  margin: 1rem 1rem 0 0;
  padding: .5rem 1rem;
  width: 12rem;
  height: 2rem;
  &:hover {
    color: #F2FFE9;
    background-color: #2EB086;
    cursor: pointer;
    border: 1px solid #F2FFE9;
  }
}

.button__ba {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #F2FFE9;
  border: none;
  border-radius: 2rem;
  background-color: #1A5F7A;
  margin: 1rem 1rem 0 0;
  padding: .5rem 1rem;
  border: 1px solid #F2FFE9;
  width: 12rem;
  height: 2rem;
  &:hover {
    color: #F2FFE9;
    background-color: #2EB086;
    cursor: pointer; 
    border: 1px solid #F2FFE9;
  }  
 
}