
.button {
  font-family: "WorkSans";
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  margin: 1rem;
  border:none;
  border-radius: 2rem;
  height: 4rem;
  &:hover {
    cursor: pointer;
  }
  &__algo {
    background-color: #F9D949;
    color: #F45050;
    width: 30rem;
    &:hover {
      background-color: #F45050;
      color: #F9D949;
    }
  }
  &__sudoku {
    background-color: #F9D949;
    color: #F45050;
    width: 15rem;
    &:hover {
      background-color: #F45050;
      color: #F9D949;
    }
  }
}

.algo-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40rem;
  height: 10rem;
}