@use "./styles/partials/fonts" as *;
html {
  font-family: "WorkSans";
}

a {
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150vh;
  background-color: #1A5F7A;
  &-header {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    width: 100vw;
    height: 8rem;
    position: fixed;
  }
}





